MONGO_URL=mongodb://localhost:27017
MONGODB_DB=jarvis
PORT=8080
CLAUDE_API_KEY=
DEEPGRAM_API_KEY=
OPENWEATHER_API_KEY=
BRAVE_SEARCH_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://your-railway-domain.up.railway.app/api/auth/google/callback
LATITUDE=43.2220
LONGITUDE=76.8512